body{
    background-color:gainsboro;
}
@font-face {
    font-family: nue;
    src: url("fonts/HelveticaNeue.ttf");
}
header {
    width: 100%;
    
    height: fit-content;
}
header li{
    padding: 10px;
    display: inline-flex;
    font-family: nue;
    font-weight: bold;
}
header ul li.heading{
    margin-left: 40%;
    font-size: 40px;
}

header ul li.nav{

    display: inline-flex;
    float: right;
    font-size: 25px;
    color: maroon; 
}

header ul li.nav a{
    text-decoration: none;
}

h1.greet{
    font-family: nue;
    /* font-size: 50px; */
    font-weight: bold;
    font-style: italic;
    font-style: underline;
}
@media (max-width:800px){
    h1.greet::after{
        content: "Welcome!";
    }
    .container div p{
        font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
    .container>div>img{
    padding-right: 5px;
    width: 200px;
}
.container>div{
    margin: 20px;
    display: flex; 
    border: gray solid 2px;
    width:350px;
    background-color:cadetblue;
    padding-right: 5px;

}
}
@media(min-width: 801px){
    h1.greet::after{
        content:"Welcome to the world of GD!";
    }  
    .container div p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

}
.container>div{
    margin: 20px;
    display: flex; 
    border: gray solid 2px;
    width:500px;
    background-color:cadetblue;
    padding-right: 5px;

}  
.container>div>img{
    padding-right: 5px;
    width: 300px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
   

}