body{
    margin: 2px;
}

#home{

    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: darkgray;
}
footer {
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 99%;
    text-align: center;
    padding: 3px;
    background-color: Salmon;
    color:white;
    font-size: large; 
  }


.login{
    margin: 2px;
}

button.login{
    font-family: monospace;
    color: black;
    font-weight: bold;
    width: 275px;
    height: 40px;
    border-style: none;
    opacity: 95%;
}

input.login{
    background-color: #c9c4b3;
    font-family: monospace;
    color: black;
    font-size: large;
    width: 267px;
    height: 40px;
    opacity: 85%;
}
div.login{
    /* margin-top: 30%; */
}
h1.container{
    margin-top: 20%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: cornsilk;
}
