@font-face{
    font-family: nue;
    src: url("fonts/HelveticaNeue.ttf");
}
body{
    background-color:lightcyan;
}
header{
    h1{
        font-size: 50px;
        font-family: nue;
        color: coral;
        text-decoration: double;
    }
    ul{
        list-style: none;
        
            li{
                display: inline-block;
                text-align: center;
            }
            li.nav{
                padding: 10px;
                display: inline-flex;
                float: right;
                font-size: 30px;
                font-family: nue;
                font-weight: bold;
                color:maroon;
                a{
                    text-decoration: none;
                }
            }
    }

}
blockquote{
    font-size: 25px;
    font-family: nue;
    text-align: center;
    font-weight: bold;
    font-style: italic;   
    cite{
        font-weight: 800;
        font-size: 20px;
        text-align: right;
    
    }

}
hr{
    width: 60%;
    align-self: center;
}
.container{
    dt{
        font-size: 40px;

    }
    margin-left: 10%;
    margin-right: 10%;
    li{
        margin: 30px;
        dd{
            font-size: 25px;
        
        }
    }
}
h1{
    font-size: 50px;
    font-family: nue;
    color: coral;
    text-decoration: double;
}

p{
    text-align: justify;;
}
#achv{
    font-size: 30px;
    margin-bottom: 350px;
}

